<% if (route==='/admin/my-profile/edit' ) {%>

    <div class="mb-3">
        <label for="senha" class="form-label fw-semibold">Senha</label>
        <input type="text" class="form-control shadow-sm" id="senha" name="senha" required>
    </div>

    <div class="mb-3">
        <label for="senha" class="form-label fw-semibold">Contra-Senha</label>
        <input type="text" class="form-control shadow-sm" id="senha" name="senha" required>
    </div>

    <% }else if (route.includes('/admin/manage-users/edit') ){ %>



        <div id="change-pass-btn" class="d-flex justify-content-center mb-3">
            <button class="btn btn-sm btn-secondary" type="button">Trocar senha</button>
        </div>

        <div id="generate-pass-fields" style="display: none;" class="mb-3">
            <label for="senha" class="form-label fw-semibold">Senha</label>
            <div class="input-group mb-3 shadow-sm">
                <input name="senha" type="text" class="form-control" aria-label="Campo de senha"
                    aria-describedby="btn-remove-pass-fields" disabled>
                <button class="btn btn-outline-danger" type="button" id="btn-remove-pass-fields">X</button>
            </div>

            <div class="d-flex justify-content-center py-3">
                <button id="btn-generate-pass" type="button" class="btn btn-sm btn-secondary">Gerar Senha
                    Provisória</button>
            </div>
        </div>
        <script src="/js/passGenerator.js"></script>
        <script src="/js/hiddenPassFields.js"></script>

    <% }else if(route==='/admin/register') { %>

        <div id="generate-pass-fields" class="mb-3">
            <label for="senha" class="form-label fw-semibold">Senha</label>
            <div class="input-group mb-3 shadow-sm">
                <input name="senha" type="text" class="form-control" aria-label="Campo de senha"
                    aria-describedby="btn-remove-pass-fields" required>
            </div>

            <div class="d-flex justify-content-center py-3">
                <button id="btn-generate-pass" type="button" class="btn btn-sm btn-secondary">Gerar Senha Provisória</button>
            </div>
        </div>
        <script src="/js/passGenerator.js"></script>

    <% } %>