<tr>
    <td><span class="fw-semibold"><%=title%></span></td>
    <td class="d-flex justify-content-end"><a href="<%=route%>" class="btn btn-secondary btn-sm">Download <i class="bi bi-arrow-down-square"></i></a></td>
</tr>